name: Build and Test MetaCall Builder

on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: docker compose build

      - name: Test Binary
        env:
          BUILDER_ARGS: "runtime rb"
        run: docker compose up --exit-code-from binary binary

      - name: Test Rootless
        run: ./test/test.sh rootless

      - name: Test Daemon
        run: ./test/test.sh client
