name: Build and Test MetaCall Builder

on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build
        run:  docker compose build

      - name: Test Binary
        run: ./test/test.sh binary

      - name: Test Rootless
        run: ./test/test.sh rootless

      - name: Test Daemon
        run: ./test/test.sh client
